ASPNETCORE_ENVIRONMENT=Development
Mongo__ConnectionString=mongodb://mongo:27017
Force1__Login=INFORME_O_LOGIN
Force1__Senha=INFORME_A_SENHA
Force1__Enterprise=INFORME_A_ENTERPRISE
GoogleMaps__ApiKey=
DocuSign__AccountId=
DocuSign__AccessToken=
MicrosoftGraph__AccessToken=
